//$base-bkg-color: #EBEBEB;
//$base-color: #B68F40;
//$secondary-color: #B68F40;
//$border-color: #0d1b2a;
//$base-text-color: #0d1b2a;
//$btn-color: #0d1b2a;

$base-font: Nunito, sans-serif;
$base-bkg-color: #EBEBEB;
$base-color: #0d1b2a;
$secondary-color: #0d1b2a;
$border-color: #EBEBEB;
$base-text-color: #0d1b2a;
$btn-color: #0d1b2a;
